
body {
    margin: 0;
    padding: 0;
}

#banner {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    overflow: hidden;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

#clickthrough-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}